* {
  margin: 0;
  padding: 0;
}
.sayF {
  height: 8rem;
  width: 12rem;
}
/* #FA9073
#8A36A3
#255C90 */

.navbar {
  padding: 0px 85px;
  height: 7rem;
  background-color: #fff;
  
}

.buttonTop{
    width: 200px;
    padding: 15px 0;
    border-radius: 15px;
    text-align: center;
     margin: 20px 10px;
     font-weight: bold;
     border: 2px solid #5354c4;
     background-color: #5354c4;
    
     color: #fffd;
     cursor: pointer;
     position: relative;
     box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
     /* overflow: hidden; */
     /* z-index: 1; imp */
 }
 .buttonTop:hover{
   background-color: #7173cf;
   border-color: #7173cf;
 }
 .download-button:hover{
  background-color: #dedef5;
  border-color: #5354c4;
 }
 .top-h1{
  font-family: 'Montserrat', sans-serif;
  
  font-size: 3.5rem;
   color: #FA9073; 
   line-height: 1.5;
    font-weight: bold;
    margin-left: 3rem;
}

.top-p{
 margin-left: 3rem;
 font-family:'Montserrat', sans-serif;
 color: rgb(92, 87, 80);

}
.download-button{
  margin:5% 3% 5% 0;
  position: relative;
  left: 3rem;
  padding: 15px 0;
    border-radius: 25px;
    width: 200px;
    
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border: 2px solid #8A36A3;
   
    color: rgb(0, 0, 0);
    cursor: pointer;

}

 .sayF-video{
  width: 20%;
  margin-top: 2.5%;
  margin-left: 10%;
 
  position: absolute;
 

}


 
@media (max-width: 1030px) {
    .navbar {
      
        height: 6.5rem;
      
      }
  .sayF {
    position: relative;
    right: 7rem;
    height: 6rem;
  width: 10rem;
  }
  .buttonTop {
  
    position: absolute;
    right: 0;
    top: 0;
  }
  .sayF-video{
    position: static;
    transform: rotate(0);
    width: 60%;
    height: 80%;
    margin-top: 5rem;

}
.download-button{
 position: relative;
 left: 5rem;
}
.top-h1{
  margin-top: 2rem;
  line-height: 1;
}

.top-p{
  
  margin: 3rem 2.5rem;
}
}
